/* ------------------------- START OPENING PAGE ------------------------- */
*{
    margin: 0;
    padding: 0;

}

.wrapper {
    width: 1170px;
    margin: auto;
}

header {
    background-color: #0B0B45;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.welcome-text{
    position: absolute;
    width: 700px;
    height: 300px;
    margin: 15% 10%;
    text-align: center;
    font-family: sans-serif;
}
.welcome-text h1, h4, p, a{
    text-align: left;
    line-height: 200%;
}

.welcome-text #intro-name{
    color: #CECEDA;
    font-size: 55px;
}

.welcome-text h1, p{
    color: #9D9DB5;
}

.welcome-text #post-name{
    font-size: 55px;

}

.welcome-text h4{
    color: #FF10F0;
}

.welcome-text a {
    color: #CECEDA;
    border: 2px solid black;
    border-color: #CECEDA;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px 20px;
    font-family: sans-serif;
    float: left;

}

nav {
    float: right;
    list-style: none;
    margin-top: 30px;

}

nav li{
    display: inline-block;
}

nav li a{
    border: 2px solid black;
    border-color: #FF10F0;
    color: #FF10F0;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px 20px;
    font-family: sans-serif;
}
nav li a:hover{
    background: #FF10F0;
    color: #0B0B45;
}

/* ------------------------- END OPENING PAGE ------------------------- */




/* ------------------------- START ABOUT ME PAGE ------------------------- */

.about-me h1{
    position: absolute;
    margin: 2% 10%;
    text-align: center;
    font-family: sans-serif;
    color: #FF10F0;
}

/* format about image */
img {
    display: block;
    float: right;
    width: 36%;
    height: 36%;
    border-radius: 50%;
    margin: 13% 10%;

}
.wrapper .about-me .about-me-content {
    position: absolute;
    width: 495px;
    height: 700px;
    margin: 10% 10%;
    text-align: left;
    font-family: sans-serif;

}

.wrapper .about-me .about-me-content #about-me-closing {
    color: #FF10F0;
    font-weight: bold;
}

/* ------------------------- END ABOUT ME PAGE ------------------------- */

/* ------------------------- START PROJECTS PAGE ------------------------- */

.wrapper .projects-header {
    float: right;
    margin: 2% 10%;
    text-align: right;
    font-family: sans-serif;
}

.wrapper .projects-header h1 {
    color: #FF10F0;
}
/* ------------------------- END PROJECTS PAGE ------------------------- */

/* ------------------------- START CONTACT ME PAGE ------------------------- */

.wrapper .contact-me{
    position: absolute;
    width: 800px;
    height: 300px;
    margin: 15% 10%;
    text-align: center;
    font-family: sans-serif;
    line-height: 200%;
}

#lets-connect {
    color:#CECEDA;
    /* position: absolute; */
    /* margin: 2% 10%; */
    font-family: sans-serif;
}

.wrapper .contact-me ul {
    /* float: right; */
    list-style: none;
    /* margin-top: 2%; */
}

.wrapper .contact-me li {
    display: inline-block

}

.wrapper .contact-me .button {
    border: 2px solid black;
    border-color: #FF10F0;
    border-radius: 15px;
    color: #FF10F0 ;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;

}
.wrapper .contact-me .button:hover{
    background: #FF10F0;
    color: #0B0B45;
}

.wrapper .contact-me .button #github {
    background-image: url("imgs/github-logo.png");
}



/* ------------------------- END CONTACT ME PAGE ------------------------- */

/* ------------------------- START EXTRAS PAGE ------------------------- */

/* email bar */
#email-float {
    font-size: 20px;
    background-color: #0B0B45;
    position: fixed;
    bottom: 6em;
    left: 1em;
    rotate: -90deg;
}

#email-float p a{
    color:#CECEDA;
    text-decoration: none;
}

.pink-bold{
    color: #FF10F0;
    font-weight: bold;
}


/* ------------------------- END EXTRAS PAGE ------------------------- */